body {
  font-family: 'Roboto', sans-serif !important;
  color: #777777;
  font-weight: 400;
}

#jambo-img {
  background-image: url('./assets/images/vag_espanol.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 10vh;
  height: 50vh;
  position: relative;
  width: 100%;
  background-size: contain;
  filter: brightness(0.5);
}

#tab-container .list-group-item.active {
  background-color: #0146a0;
  border-color: #0146a0;
}



.nav-active {
  background-color: #0146a0;
  color: #fff !important;
  font-weight: bolder;
}

.form-section {
  background-color: #f5f5f5;
}

.form-section .card-header {
  background-color: #0146a0;
}

.form-section .btn-primary {
  background-color: #0146a0;
  border-color: #0146a0;
}

.form-section .btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.img-carousel {
  width: 270px;
  height: 370px;
  object-fit: contain;
}

.jumbo-card {
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
}

.main-carousel {
  margin-top: -10%;
}

.accordion .card {
  border-radius: 0;
}

.accordion .btn-link {
  text-decoration: none;
  color: #495057;
}

.accordion .btn-link:hover {
  text-decoration: none;
  font-weight: bolder;
  color: #0146a0;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.card-header.bg-primary,
.btn-primary {
  opacity: 0.8;
}

.title-card {
  border: none;
}

.blue-title {
  color: #0146a0;
}

.gray-title {
  font-family: 'Rubik', sans-serif;
}
