.img-carousel {
  width: 270px;
  height: 370px;
  object-fit: contain;
}

.jambo-layout {
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.4);
}

.jumbo-card {
  border: none !important;
}

.main-carousel {
  margin-top: -10%;
}

.acordion-question{
  
}