.img-carousel {
  width: 350px;
  height: 370px;
  object-fit: contain;
}

.jambo-layout {
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.4);
}

.jumbo-card {
  border: none !important;
}

.main-carousel {
  margin-top: -10%;
}

.main-card {
  position: relative;
}
.img-jumbo {
  /* width: 100vw; */
}
